$cols: 24;
// @MIXIN
@mixin order($order) {
  order: $order;
}

@for $i from 0 to $cols {
  .o-#{$i} {
    @include order($i);
  }
}
@mixin z-index($z) {
  z-index: $z;
}

@for $i from 0 to $cols {
  .o-#{$i} {
    @include order($i);
  }
  .z-#{$i} {
    @include z-index($i);
  }
}
