h2 {
    text-align: center;
}

.wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-field {
        width: 100%;
    }

    .form-buttons {
        display: flex;
        flex-direction: column;
    }
}

.form-container {
    width: 40%;
}

.link {
    padding: 5px;
    margin: 15px 0;
    display: block;
    text-align: center;
    cursor: pointer;
}

