<div class="wrapper">
    <mat-card class="form-container">
        <form class="user-edit-form" [formGroup]="userEditForm" (ngSubmit)="submitForm(userEditForm.value)">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="User Name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Bate Of Birth" type="date" formControlName="age">
            </mat-form-field>
            <div class="form-actions">
                <button mat-button type="submit" cdkFocusInitial>Save</button>
                <button mat-button class="btn-cancel" (click)="cancelChange()">Cancel</button>
            </div>
        </form>
    </mat-card>

</div>

