@font-face {
    font-family: "Roboto Light";
    src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: "Roboto Regular";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto Medium";
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

//Icons
@import "icons/icon";


// Resets
@import 'resets/normalize';
@import 'resets/print';
// Core
@import 'core/variables';
@import 'core/base';
// Helpers
@import 'helpers/index';
