h2 {
    text-align: center;
}

.wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-field {
        width: 100%;
    }
}

.form-container {
    width: 40%;
}

.input-field{
    margin-bottom: 5px;
}

.navigation{
    display: flex;
    flex-direction: column;
}
.link-navigation{
    padding: 5px;
    margin: 15px 0;
    text-align: center;
    cursor: pointer;
}
