<h2>Sign Up page</h2>

<div class="wrapper">
    <mat-card class="form-container">
        <form [formGroup]="form" (ngSubmit)="signUp()">
            <mat-form-field class="input-field">
                <input matInput type="text" placeholder="Username" formControlName="username">
            </mat-form-field>
            <mat-error>{{errors.username}}</mat-error>
            <mat-form-field class="input-field">
                <input matInput type="password" placeholder="Password" name="password" formControlName="password">
            </mat-form-field>
            <mat-error>{{errors.password}}</mat-error>
            <mat-form-field class="input-field">
                <input matInput type="password" placeholder="Confirm password" name="passwordConfirm" formControlName="passwordConfirm">
            </mat-form-field>
            <mat-error>{{errors.passwordConfirm}}</mat-error>
            <div class="navigation">
                <button>Sign un</button>
                <span routerLink="/auth/sign-in" class="link-navigation">Login</span>
            </div>
        </form>
    </mat-card>
</div>
