<h2>Forgot password</h2>

<div class="wrapper">
    <mat-card class="form-container">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field class="input-field">
                <input matInput type="email" placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-error>{{errors.email}}</mat-error>
            <div class="form-buttons">
                <button>Forgot</button>
            </div>
        </form>
    </mat-card>
</div>
